<link rel="stylesheet" href="components/home/home.css" />
<div class="homeDiv" id="homeContainer">
  <div class="homeDiv" id="home1">
    <div class="homeDiv" id="home1-1">
      <img src="Assets/code2.jpg" id="img1-1" />
    </div>
    <div class="homeDiv" id="home1-2">
      <div class="homeDiv" id="home1-2-1">
        <img src="Assets/code1.webp" id="img1-2-1" />
      </div>
      <div class="homeDiv" id="home1-2-2">
        <h3>PortFolio en construction!</h3>
        <br />
        <p>
          N'hésitez pas, naviguez sur ma page et contactez-moi en cliquant sur
          l'onglet "Me Joindre"
        </p>
      </div>
    </div>
  </div>
  <div class="homeDiv" id="home2">
    <div class="homeDiv" id="home2-1">
      <img src="Assets/code4.jpg" id="img2-1" />
    </div>
    <div class="homeDiv" id="home2-2">
      <img src="Assets/code3.jpg" id="img2-2" />
    </div>
  </div>
</div>
