.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(3, 248, 248);

  /* Glass effect */
  background: linear-gradient(
    -30deg,
    rgba(135, 206, 235, 0.3),
    rgba(255, 255, 255, 0.4),
    rgba(135, 206, 235, 0.3)
  );
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3); /* White border */
}
h2 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
}
input {
  color: white;
  border: none;
  border-radius: 10px;
  padding: 4px;
  background-color: black;
}
.formBtn {
  width: 100%;

  border: none;
  border-radius: 10px;
  padding: 4px;
  background-color: rgb(0, 143, 143);
  color: white;
  cursor: pointer;
}
.formBtn:hover {
  filter: brightness(1.2);
  box-shadow: 0 0 10px rgb(164, 252, 255);
}
#description {
  height: 100px;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 4px;
  background-color: black;
  resize: none;
}
#taskList {
  margin-left: 20px;
  font-size: 1rem;
}
#taskContainer {
  width: 100%;
}
li {
  margin-top: 10px;
}
