:root {
  --background-color: #3f3f3f;
  --light: #b1b1b1;
  --dark: #1f1f1f;
  --accent-color: #00ffff;
}
.button {
  padding: 10px 20px;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  background-image: linear-gradient(120deg, #000000 0%, #5f5f5f 100%);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--accent-color);
  color: var(--accent-color);
  transition: 0.45s;
}
.button:hover {
  box-shadow: 0 0 20px var(--accent-color);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 150%;
  font-size: xx-large;
  filter: brightness(1.5);
  background-image: linear-gradient(120deg, #5f5f5f, #000000, #5f5f5f);
}
.button:active {
  box-shadow: 0 0 2px var(--accent-color);
  transition: 0.15s;
}
#buttonTitle {
  position: absolute;
  top: 10px;
  text-align: center;
  overflow-wrap: normal;
  margin-bottom: 20px;
}
